extends layout

block content
  .row
    .col-md-4.col-md-offset-4
      h1 Add a new survey
      form(id="survey-new-form")
        input(class="form-control", type="text", id="survey-title-input", placeholder="Survey Title")
        input(class="form-control", type="text", id="survey-url-input", placeholder="Unique URL")
        .create-question-container
        button.btn.btn-primary(class="btn", type="submit") Add Another Question
