extends layout
block content
  h1 #{survey.title}
    div.row
    each val, index in survey.questions
      div.col-lg-6
        div.input-group
          div #{val.question}
          span.input-group-addon
            input(type="checkbox", aria-valueNow='#{}')

