@import url("http://fonts.googleapis.com/css?family=Quicksand");
body {
  font-family: 'Quicksand';
  background-color: #faf9f0;
  color: #444;
}
header {
  font-family: 'Quicksand';
  padding: 50px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
  background-color: #0c83a9;
  border-bottom: 1px solid #085c76;
  text-shadow: 0px -1px 0px #085c76;
}
.container {
  width: 800px;
  margin: 50px auto;
  overflow: hidden;
}
.main-content {
  float: left;
  width: 500px;
}
.main-content p {
  margin-bottom: 20px;
}
.modal-content {
  padding: 30px;
}
.survey {
  float: left;
  width: 200px;
}
.survey .widget {
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 20px;
  background-color: #faf9f0;
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.survey .widget h1 {
  font-family: 'Quicksand';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.survey .widget p {
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
